<table>
    <tr>
        <th>Package</th>
      
      <th>
      <span>$1000</span>
      <span>Basic</span>
      <span>This package is perfect for a blog or professional resume portfolio page</span>
      </th>
      
       <th>
      <span>$2250</span>
      <span>Standard</span>
      <span>Great choice for small businesses, Includes Home page, About/ Gallery, Contact, and Service pages</span>
      </th>
      
      <th>
      <span>$5250</span>
      <span>Premium</span>
      <span>Commercial business website that includes every feature the way you want it.</span>
      </th>
    </tr>
    <tr>
        <td>Funcional Website</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
        <td>Content Upload</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
        <td>E-commerce Functionality</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
        <td>Payment Processing</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
        <td>Opt-in</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
        <td>Auto-responder Integration</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
        <td>Speed Optimization</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
        <td>Hosting Setup</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
        <td>Content Upload</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
        <td>Social Media Icons</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
        <td>Number of pages</td>
      <td>1</td>
      <td>4</td>
      <td>10+</td>
    </tr>
    <tr>
        <td>Plugins/Extensions</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
        <td>Number of Products</td>
      <td>0</td>
      <td>5</td>
      <td>50+</td>
    </tr>
    <tr>
        <td>Revisions</td>
      <td>2</td>
      <td>5</td>
      <td>Unlimited</td>
    </tr>
    <tr>
        <td>Est. Delivery Time</td>
      <td>14 Days</td>
      <td>14 Days</td>
      <td>14 Days</td>
    </tr>
    <tr>
        <td>Total</td>
      <td>$1000</td>
      <td>$2250</td>
      <td>$5250</td>
    </tr>
  </table>