<div class="navbar-header">
      <img style = "height:50px;width:33.3px;" src ="../../assets/TechLeaf-Logo.png"><a class="nav-title"><b> Atlas Apps</b></a>
<!--mobile app version of header menu-->
<app-drop-down-button></app-drop-down-button>
<!-- <div id = "hamburger-menu" class="hamburger-menu" (click)="animateHamburger()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div> -->
<!-- end of mobile app version-->
<div class = "navbar-buttons">
    <button mat-raised-button color="accent" (click)="scrollHome()">Home</button>
    <!-- Make the Services button into a drop down with all different-->
    <button mat-button color="accent" (click)="scrollServices()">Services</button>
    <button mat-button color="accent" (click)="redirectEinstein()">EinsteinWriter</button>
    <button mat-button color="accent" (click)="scrollAbout()">About</button>
    <button mat-button color="accent" (click)="scrollContact()">Contact</button>
    
</div>    
</div>