.navbar-header {
    width:100%;
    min-width: 260px;
    background-color: #07393C;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    position: fixed;
    z-index: 999;
    }
    .nav-title {
    text-decoration: none;
    color: white;
    font-size: 20pt !important;
    position:relative;
    height:100%;
    // display: flex;
    // align-items: center;
    margin-left:10px;
    font-family: Azonix;
    }
.navbar-buttons{
    height:70px;
    button{
        height:100%;
    }
    position: fixed;
    top:0;
    right:0;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="navbar-buttons"] {
      display:none;
    }
    [class*="hamburger-menu"] {
    display: inline-block !important;
    }
  }
  .hamburger-menu {
    display: none;
    cursor: pointer;
    position:absolute;
    right:5px;

  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }