<div class="card" >
    <!--   <img src="./assets/images/blue-mountains.jpg" alt="Avatar"> -->
      <div class="container">
        <h4 class="title"> {{title}} </h4>
        <p> {{description}} </p>

      </div>
    <div class = "button-wrapper">
        <!-- <button mat-raised-button > Learn more</button> -->
        
        <!-- <app-modal buttonText = {{modalBtnText}} modalDescription = {{modalDescription}} ></app-modal> -->
        <img src = {{imgTxt}} height="200px" width = "250px;">
    </div>
    </div>