<body style ="height:100%;">
    <app-header></app-header>
    <div style = "width:100%;height:70px;position:relative;top:0;"></div> 

<div class="download-page">
    <div class="container">
      <div class="download-card">
        <img class="app-icon" src="../../assets/client-icon.png" alt="App Icon">
        <h1 class="download-title">Download Einstein Writer</h1>
        <p class="download-text">
          Download Einstein Writer for Windows Build. Version 1.0.0
        </p>
        <a href="https://atlasappsllc.com/download.exe" download>
          <button class="download-button">Download Now</button>
        </a>
      </div>
    </div>
  </div>
</body>